.color_azul{
    background-color: rgb(104, 162, 196);
    height: 5em;
    }
.color_gris{ 
    background-color: rgb(132, 141, 146);
    height: 5em;
}

    
.letras{
    color: rgb(14, 13, 13);   
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant-alternates: historical-forms;
    }
    