.color_verde{
background-color: rgb(117, 235, 235);
height: 20em;
}

.letras{
    color: rgb(14, 13, 13);   
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant-alternates: historical-forms;
}

